<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

    <style>
      .img {
        max-width: 500;
        width: 100%;
      }
    </style>

    <title>Smol Image</title>
  </head>
  <body>
    <h1 class="text-center">Smol Image</h1>
    <h3 class="text-center">SVD Image Compresser</h3>
    <div class="container">
      <div class="row">
        <h4 class="display-6">Select Your Image</h4>
        <ul>
          <p class="fw-bold text-center">{{ output1 }}</p>
          <p class="fw-bold text-center">{{ output2 }}</p>
          <hr />
          {% if image_out %}
          <p class="fw-bold text-center">
            Image Compression Rate: {{ comp_rate }}
          </p>
          <p class="fw-bold text-center">
            Execution time: {{ exe_time }} Seconds
          </p>
          {% endif %}
        </ul>

        <div class="col text-center">
          <form method="post" action="/" enctype="multipart/form-data">
            <div class="input-group">
              <input
                type="file"
                name="file"
                id="inputGroup"
                class="form-control"
                required
              />
              <button
                type="submit"
                name="submit"
                id="inputGroup"
                class="btn btn-primary"
              >
                Upload
              </button>
            </div>
          </form>
        </div>

        <div class="col text-center">
          <div>
            <form method="post" action="/" enctype="multipart/form-data">
              <label class="form-label mt-2">Image Compression Rate: </label>
              <input
                type="number"
                min="1"
                max="100"
                name="compression_rate"
                class="form-control-sm"
                required
              />
              <b>%</b>
              <button type="submit" name="compress" class="btn btn-primary">
                Compress
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>

    <br />
    {% if image_in %}
    <div class="container">
      <div class="row">
        <div class="col">
          <p class="fw-bold text-center">Before</p>
          <p class="text-center">Ukuran awal: {{ input_size }} bytes</p>
          <img
            class="float-start img"
            src="{{ url_for('displayUploads', filename = image_in) }}"
          />
        </div>
        {% endif %}
        <div class="col">
          {% if image_out %}
          <p class="fw-bold text-center">After</p>
          <p class="text-center">Ukuran akhir: {{ output_size }} bytes</p>
          <img
            class="float-end img"
            src="{{ url_for('displayDownloads', filename = image_out) }}"
          />
        </div>
      </div>

      <br />

      <div class="row">
        <div class="col-md offset-md-10">
          <a
            download
            class="btn btn-outline-secondary"
            href="{{ url_for('displayDownloads', filename = image_out) }}"
            >Download Image</a
          >
        </div>
      </div>
    </div>
    {% endif %}

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
